html, body {
  width: 100px;
}

.hidden {
  display: none;
}

button {
  border: 1px solid black;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.0em;
  cursor: pointer;
  background-color: whitesmoke;
}

button:hover {
  background-color: cornflowerblue;
}


button[type="reset"]:hover {
  background-color: cornflowerblue;
}
