.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  justify-items: center;
  min-height: 100svh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  margin-top: 50px;
}

.opcoes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pred {
  min-width: 50px;
}

.navbar {
  min-width: 100vw;
}