.opcoes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pred {
  min-width: 50px;
}

.header {
  min-width: 100vw;
  margin-bottom: 30px;
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  justify-items: center;
}

.papel {
  display: grid;
  width: 100%;
  min-width: 300px;
  max-width: 900px;
}