.opcoes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pred {
  min-width: 50px;
}

.header {
  min-width: 100vw;
  margin-bottom: 30px;
}

.main {
  display: grid;
  justify-items: center;
}

.papel {
  display: grid;
  min-width: 70vw;
}